/* index.css */

/* Estilos globais */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f4f4f4;
}

h2 {
  color: #333;
}

/* Container principal */
.container {
  width: 80%;
  margin: 0 auto;
  padding: 20px;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  margin-top: 20px;
}

/* Botões */
button {
  background-color: #58a6fa;
  color: #fff;
  padding: 10px 15px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

button:hover {
  background-color: #0056b3;
}

/* Inputs e Textareas */
input, select, textarea {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  border: 1px solid #ccc;
  border-radius: 4px;
}

/* Listagem de Usuários */
.user-list {
  list-style-type: none;
  padding: 0;
}

.user-list li {
  padding: 10px;
  margin: 10px 0;
  background-color: #f9f9f9;
  border: 1px solid #ddd;
  border-radius: 4px;
}

.user-list li a {
  text-decoration: none;
  color: #007bff;
}

.user-list li a:hover {
  text-decoration: underline;
}

.link {
  margin-left: 10px;
  padding: 5px 10px;
  color: #fff;
  text-decoration: none;
  background-color: #6baef6;
  border-radius: 4px;
}

.link:hover {
  background-color: #0056b3;
}

.user-detail-container {
  width: 400px;
  border: 1px solid #ccc;
  padding: 20px;
  margin: 20px auto;
  background-color: #f9f9f9;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.user-detail-header {
  font-size: 1.5rem;
  margin-bottom: 10px;
  color: #333;
}

.user-detail-content {
  font-size: 1rem;
  color: #666;
}

/* Estilos para o cabeçalho "User Management" */
.user-management {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 10px; /* Espaço abaixo do texto */
}

/* Estilos para os links "Manage Users" e "Send Message" */
.manage-link {
  margin-right: 10px; /* Espaço à direita dos links */
  text-decoration: none; /* Remove o sublinhado dos links */
  color: #333; /* Cor do texto dos links */
}

.manage-link:hover {
  color: #007bff; /* Cor do texto dos links ao passar o mouse */
}

.button-like-link {
  display: inline-block;
  padding: 9px 20px;
  background-color: #6baef6;
  color: #fff;
  text-decoration: none;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  font-size: 15px;
}

.button-like-link:hover {
  background-color: #0056b3;
}